.App{
  background-color: #dad2d8;
}

/* GENERAL COMPONENTS */

header {
  background-color: #276ebfe8;
  display: flex;
  justify-content: space-evenly;
  font-size: 1vmax;
  color: white;
  padding: 2em;
}

header div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-info{
  line-height: .1vmin;
  text-align: center;
  font-size: 1.5vmin;
}

.hours{
  text-align: center;
  line-height: .25vmin;
  font-size: 1.5vmin;
}

nav{
  display: flex;
  justify-content: space-around;
  padding: 2.5vmin;
  margin: .5vmin;
  border: .5vmin solid #9e2b25b3;
  border-radius: 5vmin;

}

nav a{
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 2.5vmin;
  font-weight: 800;
  letter-spacing: .25em;
  border-bottom: .1em solid #60993e;
}

nav a:hover{
  text-shadow: 0 0 .25em #276ebf;
  border-bottom: .1em solid #276ebf;
  transform: scale(1.5);
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero{
  background: #9e2b25;
  border-radius: 1em;
  margin: .25em;
  padding: 2.5em;
}

.hero div{
  background: #dad2d8;
  padding: 2em;
  border-radius: .5em;
}

.container-one{
  display: flex;
  flex-direction: column;
  background-color: #dad2d8;
  border: .1em solid #000;
  margin: .25em;
  padding: 2em;
}

.container-two{
  display: flex;
  flex-direction: column;
  background-color: #60993e;
  border: .1em solid #000;
  margin: .25em;
  padding: 2em;
}

.footer nav{
  display: flex;
  justify-content: space-around;
  background-color: #276ebfe8;
  border: none;  
  padding: 1em;
  margin: 0;
  border-radius: 0%;
}

.footer nav a{
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 2.5vmin;
  font-weight: 800;
  letter-spacing: .25em;
  border-bottom: .1em solid #fff;
}

.footer nav a:hover{
  text-shadow: 0 0 .2em #60993e;
  border-bottom: .1em solid #fff;
  transform: scale(1.5);
}

footer {
  background-color: #276ebfe8;
  display: flex;
  justify-content: space-around;
  font-size: 1vmax;
  color: white;
  padding: 2em;
}

footer div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}


/* PAGES STYLING */

/* HOME PAGE STYLES */
.home div{
  display: flex;
  justify-content: space-around;
}


.section-two{
  flex-direction: column;
}

/* CATERING PAGE */
.catering-page div{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}